.add-item-form-card{

  .add-item-form{
    display: flex;
    flex-flow: column;
    margin-right: 40%;
  }
}


//@media only screen
//and (max-width : 1200px) {
//  .add-item-form-card{
//    margin-right: 0;
//    margin-left: 0;
//
//  }}
//
//@media only screen
//and (max-width : 500px) {
//  .add-item-form-card{
//    margin-right: 0;
//    margin-left: 0;
//
//    .add-item-form{
//      margin-right: 0;
//    }
//  }}
