<mat-card class="add-item-form-card">
  <mat-card-header>
    <mat-card-title>ToDo erstellen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="add-item-form" [formGroup]="addItemForm">
      <mat-form-field>
        <mat-label>Titel</mat-label>
        <input matInput type="text" formControlName="title">
        <mat-error *ngIf="addItemForm.get('title').errors">Titel ist erforderlich</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Beschreibung</mat-label>
        <input matInput type="text" formControlName="description">
        <mat-error *ngIf="addItemForm.get('description').errors">Beschreibung ist erforderlich</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="addItemForm.invalid" (click)="addItem()">Hinzufügen</button>
    <button mat-button [routerLink]="['/todos']">Abbrechen</button>
  </mat-card-actions>
</mat-card>
