<mat-toolbar color="primary">
  <mat-icon class="icon" [routerLink]="['']">done_all</mat-icon>
  <span [routerLink]="['']">ToDo - Liste</span>
  <div class="spacer"></div>
  <button mat-flat-button [routerLink]="['/login']" *ngIf="isAuthenticated">Login</button>
  <button mat-flat-button [routerLink]="['/login']" *ngIf="!isAuthenticated" (click)="logout()">Logout</button>
</mat-toolbar>
