.button-wrapper{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  .button-add-item{
    display: inline-block;
  }
}

.options-wrapper{
  display: flex;
  flex-flow: row wrap;
  padding-top: 10px;

  mat-form-field{
    margin-left: 30px;
  }
  mat-slide-toggle{
    margin-top: 15px;
    margin-left: 8px;
  }
}
