<div class="options-wrapper">
<mat-slide-toggle [(ngModel)]="editItems">Todos bearbeiten</mat-slide-toggle>
<mat-form-field>
  <mat-label>Sortieren nach</mat-label>
  <mat-select [(value)]="sortBy" (click)="loadItems()">
    <mat-option value="date">Datum</mat-option>
    <mat-option value="done">Erledigt/Nicht erledigt</mat-option>
  </mat-select>
</mat-form-field>
</div>
<mat-selection-list>
  <mat-list-option *ngFor="let item of items |async|itemSorter:sortBy" [selected]="item.done" [disabled]="editItems" (click)="editItems?null:toggleDone(item)">
    <h3 matLine> {{item.title}} </h3>
    <p matLine> {{item.description}} </p>
    <p matLine *ngIf="editItems">
      <button mat-flat-button color="primary" [routerLink]="['/todos',item._id]"><mat-icon>edit</mat-icon>Bearbeiten</button>
      <button mat-stroked-button color="primary" (click)="delete(item)"><mat-icon>delete</mat-icon>Löschen</button>
    </p>
    <mat-divider></mat-divider>
  </mat-list-option>
</mat-selection-list>
<div class="button-wrapper">
  <button class="button-add-item" mat-fab matTooltip="ToDo erstellen" routerLink="/todos/add">
  <mat-icon>add</mat-icon>
</button>
</div>

